@model CarDealership.Models.Tables.Vehicle
@{
    ViewBag.Title = "UsedVehicles";
}

<h2>Used Vehicles</h2>
<div class="row" style="border:solid;padding:15px">
    <div class="col-xs-12">
        <form id="searchForm" class="form-inline">
            <div class="form-group">
                <label for="usedmake">Make</label><br />
                <input type="text" id="usedmake" placeholder="Enter Make" />
                <label for="usedmodel">Model</label><br />
                <input type="text" id="usedmodel" placeholder="Enter Model" />
                <label for="usedyear">Year</label><br />
                <input type="text" id="usedyear" placeholder="Enter Year" />
            </div>
            <div class="form-group">
                <label for="prices">Price</label>
                @Html.DropDownListFor(m => m.Price, new SelectListItem[] { new SelectListItem() { Text = "No Min", Value = string.Empty }, new SelectListItem() { Text = "20,000", Value = "20000" }, new SelectListItem() { Text = "25,000", Value = "25000" }, new SelectListItem() { Text = "30,000", Value = "30000" }, new SelectListItem() { Text = "35,000", Value = "35000" }, new SelectListItem() { Text = "40,000", Value = "40000" } }, new { @id = "usedminPrice" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.Price, new SelectListItem[] { new SelectListItem() { Text = "No Max", Value = string.Empty }, new SelectListItem() { Text = "20,000", Value = "20000" }, new SelectListItem() { Text = "25,000", Value = "25000" }, new SelectListItem() { Text = "30,000", Value = "30000" }, new SelectListItem() { Text = "35,000", Value = "35000" }, new SelectListItem() { Text = "40,000", Value = "40000" } }, new { @id = "usedmaxPrice" })
            </div>
            <div class="form-group">
                <label for="years">Year</label>
                @Html.DropDownListFor(m => m.Year, new SelectListItem[] { new SelectListItem() { Text = "No Min", Value = string.Empty }, new SelectListItem() { Text = "2010", Value = "2010" }, new SelectListItem() { Text = "2015", Value = "2015" }, new SelectListItem() { Text = "2020", Value = "2020" } }, new { @id = "usedminYear" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.Year, new SelectListItem[] { new SelectListItem() { Text = "No Min", Value = string.Empty }, new SelectListItem() { Text = "2010", Value = "2010" }, new SelectListItem() { Text = "2015", Value = "2015" }, new SelectListItem() { Text = "2020", Value = "2020" } }, new { @id = "usedmaxYear" })
            </div>
            <br />
            <br />
            <button class="btn btn-primary" id="btnSearch">Search</button>
        </form>

    </div>

</div>
<h2>Search Results</h2>
<div class="row col-md-12" id="searchResults">


</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#searchForm').submit(function (e) {
                search();
                return false;
            });
        });
        function search() {
            var params;
            var imagePath = '@Url.Content("~/Images/")';
            var detailsPath = '@Url.Action("Details", "Vehicle")/';

            params = 'usedMinPrice=' + $('#usedminPrice').val() + '&usedMaxPrice=' + $('#usedmaxPrice').val() + '&usedMinYear=' + $('#usedminYear').val() + '&usedMaxYear=' +
                $('#usedmaxYear').val() + '&usedMakeName=' + $('#usedmake').val() + '&usedModelName=' + $('#usedmodel').val() + '&usedYear=' + $('#usedyear').val();

            $.ajax({
                type: 'GET',
                url: 'http://localhost:50588/api/vehicle/search?' + params,
                dataType: "json",
                success: function (results) {
                    $('#searchResults').empty();
                    $.each(results, function (index, vehicle) {
                        var html = '<div class="row" style="border:solid;padding:15px;">' + '<div class="col-md-5">' +
                            '<label>' + vehicle.MakeName + '</label>' + ' ' + '<label>' + vehicle.ModelName + '</label>' + ' ' + '<label>' + vehicle.Year + '</label>' +
                            '<p><img src="' + imagePath + vehicle.ImageFileName + '" /></p>' +
                            '</div>' + '<div class"col-md-7>' + '<table>' + '<tbody>' + '<tr>' + '<td>' + 'Body Style: ' + vehicle.BodyStyle + '</td>' + '<td>' + 'Interior: ' + vehicle.Interior +
                            '</td>' + '<td>' + 'Sale Price: ' + vehicle.Price + '</tr>' + '<tr>' + '<td>' + 'Trans: ' + vehicle.Transmission + '</td>' + '<td>' + 'Mileage: ' + vehicle.Type +
                            '</td>' + '<td>' + 'Msrp: ' + vehicle.Msrp + '</td>' + '</tr>' + '<tr>' + '<td>' + 'Color: ' + vehicle.Color + '</td>' + '<td>' + 'Vin #: ' + vehicle.Vin + '</td>' +
                            '<td><a href="' + detailsPath + vehicle.VehicleId + '">Details</a></td>' + '</tbody>' + '</table>' + '</div>' + '</div>';
                        $('#searchResults').append(html.toString());
                    });
                },
                error: function () {

                    alert("Try Again");
                }
            });
        }
    </script>
}
